<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['tabs', 'notebook', 'verbs', verbId]"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ verb?.word }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateVerb()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center padding">
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Infinite Form</ion-label>
            <ion-input
              type="text"
              formControlName="word"
              (input)="inputValidator.multiWordsSpaceSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Translations</ion-label>
            <ion-input
              type="text"
              formControlName="translations"
              (input)="inputValidator.multiWordsComaSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Person Present Singular</ion-label>
            <ion-input
              type="text"
              formControlName="firstPersonPresent"
              (input)="inputValidator.multiWordsSpaceSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Person Past Singular</ion-label>
            <ion-input
              type="text"
              formControlName="firstPersonPastSingular"
              (input)="inputValidator.multiWordsSpaceSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Person Past Plural</ion-label>
            <ion-input
              type="text"
              formControlName="firstPersonPastPlural"
              (input)="inputValidator.multiWordsSpaceSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Past Participle</ion-label>
            <ion-input
              type="text"
              formControlName="pastParticiple"
              (input)="inputValidator.singleWordValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-radio-group [value]="auxVerb" (ionChange)="onAuxVerbChange($event)">
          <ion-list>
              <ion-list-header>
                <ion-label>Auxiliary Verb</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>habben</ion-label>
                <ion-radio slot="end" value="habben"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>zijn</ion-label>
                <ion-radio slot="end" value="zijn"></ion-radio>
              </ion-item>
          </ion-list>
        </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-radio-group [value]="isRegular" (ionChange)="onIsRegularChange($event)">
          <ion-list>
              <ion-list-header>
                <ion-label>Auxiliary Verb</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>yes</ion-label>
                <ion-radio slot="end" value="yes"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>no</ion-label>
                <ion-radio slot="end" value="no"></ion-radio>
              </ion-item>
          </ion-list>
        </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Examples</ion-label>
            <ion-textarea
              rows="3"
              formControlName="examples"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

