<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- if we refresh the stack is lost and the page does not know where to go back. We can fix that with the defaultHref -->
      <ion-back-button defaultHref="/tabs/notebook"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ noun?.word }} ({{ noun?.hetDe }})</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onEditNoun(nounId)">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="ion-text-center"  *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading && noun">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3"class="ion-text-center ion-padding">
        <h5>Translations</h5>
        <p>{{ noun.translations.join(', ') }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3"class="ion-text-center ion-padding">
        <h5>Plural form</h5>
        <p>{{ noun.plural }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3"class="ion-text-center ion-padding">
        <h5>Examples</h5>
        <ion-textarea readonly>{{ noun.examples }}</ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-button color="danger" class="ion-margin" (click)="onDelete(noun.id)">
          Delete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

