<ion-header>
  <ion-toolbar>
    <ion-title>New Verb</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center padding">
  <form (ngSubmit)="onAddVerb()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Infinite Form</ion-label>
            <ion-input type="text" ngModel name="new-verb" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Translations</ion-label>
            <ion-input type="text" ngModel name="translations" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Person Present Singular</ion-label>
            <ion-input type="text" ngModel name="first-person-present" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Person Past Singular</ion-label>
            <ion-input type="text" ngModel name="first-person-past-singular" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Person Past Plural</ion-label>
            <ion-input type="text" ngModel name="first-person-past-plural" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Past Participle</ion-label>
            <ion-input type="text" ngModel name="past-participle" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-radio-group [ngModel]="'hebben'" name="aux-verb">
              <ion-list-header>
                <ion-label>Auxiliary Verb</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>hebben</ion-label>
                <ion-radio slot="end" value="hebben"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>zijn</ion-label>
                <ion-radio slot="end" value="zijn"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-radio-group [ngModel]="'yes'" name="is-regular">
              <ion-list-header>
                <ion-label>Is Regular?</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>yes</ion-label>
                <ion-radio slot="end" value="yes"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>no</ion-label>
                <ion-radio slot="end" value="no"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Examples</ion-label>
            <ion-textarea rows="3" ngModel name="examples"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary"  expand="block" [disabled]="!f.valid">
            Add Verb
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

