<ion-header>
  <ion-toolbar>
    <ion-title>New Verb</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center padding">
  <form (ngSubmit)="onAddVerb()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating"
              >Infinite Form <span>*</span></ion-label
            >
            <ion-input
              type="text"
              [ngModel]="word"
              name="new-verb"
              (input)="
                inputValidator.multiWordsSpaceDashSeparatedValidator($event)
              "
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating"
              >Translations <span>*</span>
            </ion-label>
            <ion-textarea
              type="text"
              [ngModel]="translations"
              rows="5"
              name="translations"
              (input)="inputValidator.multiWordsComaSeparatedValidator($event)"
              required
            ></ion-textarea>
            <ion-icon
              name="help-circle-outline"
              slot="end"
              (click)="onInfoTranslations()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-radio-group [ngModel]="auxVerb" name="aux-verb">
              <ion-list-header>
                <ion-label>Auxiliary Verb <span>*</span></ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>hebben</ion-label>
                <ion-radio slot="end" value="hebben"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>zijn</ion-label>
                <ion-radio slot="end" value="zijn"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-radio-group [ngModel]="'yes'" name="is-regular">
              <ion-list-header>
                <ion-label>Is Regular? <span>*</span></ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>yes</ion-label>
                <ion-radio slot="end" value="yes"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>no</ion-label>
                <ion-radio slot="end" value="no"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Examples</ion-label>
            <ion-textarea rows="3" ngModel name="examples"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
            Add Verb
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button
          color="primary"
          fill="outline"
          expand="block"
          (click)="openConjugation()"
          [disabled]="!entireConj"
        >
          Show Conjugation
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
