<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Practice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="primary"
          [routerLink]="['flashcards']"
        >
          Flashcards
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="primary"
          [routerLink]="['de-het']"
        >
          De or Het?
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="primary"
          [routerLink]="['conj-verbs']"
        >
          Conjugate Verbs
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
