<ion-header>
  <ion-toolbar>
    <ion-title>Verb Conjugation</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
  <div *ngFor="let group of entireConj.entire_conj" >
    <ion-row>
      <ion-col size-sm="6" offset-sm="3"class="ion-text-center ion-padding">
        <h5>{{group.group_name}}</h5>
      </ion-col>
    </ion-row>
    <div *ngFor="let conjTense of group.group_conj">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center ion-no-padding">
          <h6>{{conjTense.header}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="4" size-sm="6" class="ion-text-end ion-padding">
          <app-pronouns [conjTense]="conjTense" [pronouns]="entireConj.pronouns"></app-pronouns>
        </ion-col>
        <ion-col size-xs="8" size-sm="6" class="ion-text-start ion-padding">
          <app-conjugation [conjTense]="conjTense"></app-conjugation>
        </ion-col>
      </ion-row>
    </div>
  </div>
  </ion-grid>
</ion-content>