<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notebook</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onNewWord()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-xs="8" size-sm="9" class="ion-no-padding">
          <ion-searchbar (ionInput)="onSearchBar($event)"></ion-searchbar>
        </ion-col>
        <ion-col size-xs="4" size-sm="3" class="ion-no-padding">
          <ion-item class="ion-no-padding">
            <ion-label class="ion-no-margin time-icon">
              <ion-icon  name="time-outline" slot="start" size="large"></ion-icon>
            </ion-label>
            <ion-select class="time-select" [value]="timeSpan" (ionChange)="onTimeSpanChange($event)">
              <ion-select-option *ngFor="let timeSelect of timeSelects" [value]="timeSelect.value">
                {{ timeSelect.showValue}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="kindFilter" (ionChange)="onSwitchSegment($event)">
      <ion-segment-button mode="ios" *ngFor="let segment of segments" [value]="segment.value">
        <ion-label>
          {{segment.showValue}}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngIf="isLoading">
      <ion-col class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
    <div *ngIf="showAddSearchedWord">
      <ion-row >
        <ion-col class="ion-text-center">
          <p>Search in the dictionary for: <b>{{searchValue}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-end">
          <ion-button color="primary" fill="outline" class="ion-margin-top" (click)="onSearchInDictionary()">
            Search
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-button color="primary" fill="outline" class="ion-margin-top" (click)="onAddManually()">
            Add Manually
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <ion-row *ngIf="!isLoading">
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <!-- approxItemHeight helps the virtual scroll algorithm to pre-render stuff correctly -->
        <!-- we do not need to use virtual scroll everywhere but only on long list -->
        <ion-virtual-scroll [items]="loadedWords" approxItemHeight="100px">
          <ion-item
            *virtualItem="let word"
            [routerLink]="getRoute(word.kind, word.id)"
            detail
          >
            <ion-label>
              <p><span class="word">{{ word.word }}</span> {{addKindOfWord(word)}}</p>
              <p>{{ word.translations.join(', ') }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
