<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['tabs', 'notebook', 'nouns', nounId]"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ noun?.word }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateNoun()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <!-- like this will be center -->
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Word</ion-label>
            <ion-input
              type="text"
              formControlName="word"
              (input)="inputValidator.multiWordsSpaceDashSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Translations</ion-label>
            <ion-input
              type="text"
              formControlName="translations"
              (input)="inputValidator.multiWordsComaSeparatedValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-radio-group [value]="hetDe" (ionChange)="onHetDeChange($event)">
          <ion-list>
              <ion-list-header>
                <ion-label>het/de</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>het</ion-label>
                <ion-radio slot="end" value="het"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>de</ion-label>
                <ion-radio slot="end" value="de"></ion-radio>
              </ion-item>
          </ion-list>
        </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Plural</ion-label>
            <ion-input
              type="text"
              formControlName="plural"
              (input)="inputValidator.singleWordValidator($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Examples</ion-label>
            <ion-textarea
              type="text"
              rows="3"
              formControlName="examples"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>